<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurants  </title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<div class="restaurant-container">
    <div th:each="restaurant : ${restaurants_list}" class="restaurant-card">
        <img th:src="@{'/images/' + ${restaurant.id} + '.jpg'}" alt="Image for Restaurant"/>
        <h2 th:text="${restaurant.name}"></h2>
        <ul>
            <li th:each="dish : ${restaurant.menu}">
                <span th:text="${dish.name}"></span>
                <span> : </span>
                <span th:text="${dish.price}"></span>
            </li>
        </ul>
        <div class="restaurant-card-votes">Amount of votes for this restaurant today is: <span th:text="${restaurant.voteList.size()}"/></div>
    </div>
</div>
</body>